<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aiassoft.capstone">

    <uses-permission android:name="com.aiassoft.capstone.PERMISSION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.aiassoft.capstone.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.VehiclesListActivity"
            android:label="@string/title_activity_vehicle_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.VehicleEntityActivity"
            android:label="@string/title_activity_vehicle_entity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.ExpensesListActivity"
            android:label="@string/title_activity_expenses_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ExpensesEntityActivity"
            android:label="@string/title_activity_expenses_entity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.SearchYoutubeActivity"
            android:label="@string/title_activity_search_youtube"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".widgets.VehicleWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".widgets.VehicleWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/vehicle_widget_provider_info" />
        </receiver>

        <service android:name=".services.VehicleWidgetUpdateService" />

        <service
            android:name=".remote_views.ListviewRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- Register the DatabaseContentProvider -->
        <!-- Set name, authorities, and exported attributes -->
        <!-- exported = false limits access to this ContentProvider to only this app -->
        <provider
            android:name="com.aiassoft.capstone.data.CapstoneContentProvider"
            android:authorities="com.aiassoft.capstone.contentprovider"
            android:exported="false"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>



    </application>

</manifest>